body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size:12.5;
    color: #888888;
}
.main_text {
    margin-top: 25px;
}
.main_text a {
    color: #A878E3;
    font-weight: bold;
    text-decoration: none;
    line-height: 120%;
}
.heading {
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size:46;
    color: black;
}
.content {
    width: 890;
    margin-left: auto;
    margin-right: auto;
    line-height: 19px;
}
.left_content {
    width:650;
    padding-top:70;
    display: inline-block;
}
.right_content {
    width: 200;
    height: auto;
    vertical-align: top;
    display: inline-block;
}
.right_content a {
    text-decoration: none;
    color: #888888;
}
.right_content a.selected {
    font-weight: bold;
    color: black;
}
.right_content a:hover {
    font-weight: bold;
    color: black;
}
.columns {
    display: inline-block;
    height: 70;
    vertical-align: top;
}
ul {
    list-style-type: none;
    padding-left: 20px;
    width: 60;
}
li {
    height: 17;
}
.image {
    width: 450;
    margin-top: 20;
}

