body {
    /* default text settings */
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size:13px;
    color: #393E45;
    margin: 0px !important;
}
a {
    text-decoration: none;
    color: #AAA;
}

.all_content {
    width: 850;
    margin-left: auto;
    margin-right: auto;
    line-height: 19px;
}

/*
 * header
 */
.header {
    margin-top: 8px;
    height: auto;
    vertical-align: top;
    float: right;
}
.clear {
    clear:both;
}
.header a.selected {
    font-weight: bold;
    color: black;
}
.header a:hover {
    font-weight: bold;
    color: black;
}
.header_columns {
    display: inline-block;
    vertical-align: top;
}
.header_image {
    margin-right: 7px;
	border: 4px solid #EDEDED;
	border-radius: 4px;
}

.header_image:hover {
    opacity:0.90;
}


ul {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 20px;
    width: 60;
}
li {
    height: 17;
}

/*
 * the body of the page
 */
.heading {
    /* The headings of each page, not the header with links - e.g. 'Hi there!' */
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size:46;
    color: black;
    margin-bottom: 25px;
}

/*
 * homepage
 */
.homepage_heading_border {
     padding-bottom: 30px;
     border-bottom: 3px solid black;
 }
.main_homepage_text {
    margin-top: 45px;
    width: 600px;
    font-size:14px;
	color:grey;
}
.main_homepage_text a {
	color: #393E45;
    font-weight: normal;
    text-decoration: none;
}

.main_homepage_text p {
	margin-top: 12px;
}

#standout a {
	color: #A878E3;
}

.main_homepage_text a:hover {
	opacity:0.95;
}

.image {
    width: 450;
    margin-top: 10;
}

.ribbon{
    margin-top:40px;
	color: grey;
	font-size:12px;
	line-height:14px;
}

.ribbon_image{
    border-radius: 4px;
}

.ribbon_image:hover {
   
}

/*
 * projects page 
 */
#project_categories_header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
}
.project_category {
    display: inline-block;
    width: 19%;
}
.project_list {
    padding: 20px;
    display: none;    
}
.project_category_purple_bar {
    border-radius: 10px;
    background: #A878E3;
    height: 6px;
    margin-bottom: 3px;
    display: none;
}
.project_mantra {
    color: #A878E3;
    padding-top:10px;
    margin-bottom: 30px;
    font-size: 14px;
}
.project {
    margin-bottom:40px;
}
.project a, .ux_title a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dotted black;
}
.project a:hover, .ux_title a:hover {
    color: #A878E3;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dotted #A878E3;
}
.project_more_link {
    color: #888888 !important;
    font-weight: normal !important;
    text-decoration: none !important;
    border-bottom: 1px dotted #A878E3 !important;
}
.project_more_link:hover {
    color: #A878E3 !important;
    border-bottom: 1px dotted #A878E3 !important;
}
.project_image {
    padding-top:3px;
    display: inline-block;
    margin-right: 20px;
    width: 170px;
    vertical-align: top;
}
.project_body {
    width: 600px;
    display: inline-block;
}
.project_name {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    color: black;
}
.project_description_short {
    display: inline-block;
}
.project_description_long {
    margin-top: 10px;
    color: black;
    line-height: 130%;
}
.project_tags {
   margin-top: 10px; 
}

.ux {
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
    min-width: 200px;
}

.ux_image {
    min-height: 100px;
    /*border: #393E45 solid 1;*/
}
.ux_label{
    color: black;
}

.ux_title {
    margin-top: 10px;
    font-weight: bold;
}
.ux_type {}
.ux_description {}

/*
 * pictures
 */

#picture_container {
    padding-top: 20px;
}

#picture_img {
    width: 500px;
    border: 1px solid white;
}

#picture {
    float:left;
    position: relative;
    right: 52px;
    min-width: 500px;
    z-index: 100;
}

.picture_link {
    font-size:42px;
    font-weight: 100;
    float: left;
    width: 10px;
    position: relative;
    top: 250px;
    cursor: hand;
    z-index: 100;
}

.picture_help {
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 350;
    position: relative;
    float: left;
}

#picture_prev_help {
    top: 253.5px; 
    right: 66px;
}
#picture_prev_link {
    right: 60px;
}

#picture_next_link {
    right: 46px;
}
#picture_next_help {
    top: 253px; 
    right: 40px;
}

#picture_caption {
    font-family: "Gill Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 350;
    padding-top: 10px;
    padding-left: 1px;
    line-height: 15px; 
    position: fixed;
    width: 500px;
}

#picture_cache_warmer {
    display: none;
}

#lightbox_overlay {
    position: absolute;
    background: black;
    top:0%;
    z-index: 5;
}

.lightbox_colors > .lightbox_text {
    color: white;
    z-index: 100;
}

#slideshow_modal {
    background: white;
    top: 50%;
    left: 50%;
    z-index: 6;
    width: 1050px;
    height: 550px;
    margin-top: -300px;
    margin-left: -525px;
    position: fixed;
    border-radius: 10;
    border: black solid 2;
    padding: 20px;
}

#slideshow_img_div {
    text-align: center;
    color:black;
}

#slideshow_img {
    max-height: 500px;
}

#slideshow_bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    text-align: center;
    width: 95%;
}

#slideshow_prev_slide {
}

#slideshow_slide_counter {
    text-align: center;
}

#slideshow_next_slide {
}

#slideshow_esc {
    float: right;
}
