<div class="header">
    <div class="header_columns header_image">
        <a href="http://asha.nyc"><img longdesc="http://dl.dropbox.com/u/1654579/Jing/2012-02-12_1450.png">
    </div>
    <div class="header_columns">
        <ul>
            <li><a href="http://dthink.ashaelizabethgupta.com">thoughts</a></li>
            <li><a href="/portfolio" {% if projects_page %}class="selected"{% endif %}>portfolio</a></li>
        <ul>
    </div>
    <div class="header_columns">
        <ul>
            <li><a href="http://details.srb.ag"
                {% if pictures_page %}class="selected"{% endif %}
                >details</a></li>
            <li><a href="http://www.linkedin.com/in/ashaegupta" 
                target="_blank">linkedin</a></li>
        </ul>
    </div>
</div>
