<html>
    <head>
        {% include "includes.html" %}
    </head>
    <body>
        <div class="all_content">

            {% include 'header_template.html' %}

            <div class="clear"></div>
            <div class="main_content">
                <div class="heading">
                  Hiya.
                </div>
                <div class="main_homepage_text">
                    <div>
                        <p>I'm Asha.</p>
                        <p> I worked on early
                            <a href="http://customer.io">Customer.io</a>, 
                            <a href="http://venmo.com">Venmo</a> 
                            and <a href="http://gethopscotch.com">Hopscotch</a> doing everything from front-end dev to UX to product. I studied human-centered design at the Stanford d.school and previously was a corporate strategy consultant.</p>
                        <p> I teach yoga, write poetry and love trees.</p>
                        <p><a href="/portfolio" >My work.</a></p>
                    </div>
                </div>
                <div class="ribbon">
                    <a href="http://www.flickr.com/photos/asha-gupta/5082739655/in/photostream/lightbox/"
                    target="_blank">
                    <img class="ribbon_image" src="http://dl.dropbox.com/u/9927844/Jing/2012-06-05_1338.png"></a>
                </div>
            </div>
        </div>
    </body>
</html>
