<html>
    <head>
        <link rel=stylesheet href="css/style.css" type="text/css"></link>
        <script type-"text/javascript" src="js/ashaelizabethgupta.js"></script>
    </head>
    <body>
        <div class="all_content">

            {% include 'header_template.html' %}

            <div class="clear"></div>
            <div class="main_content">
                <div class="heading">
                    Hi there!
                </div>
                <div class="main_homepage_text">
                    <p>I'm Asha Elizabeth Gupta.</p> 
                    <p>I believe in 
                        <a href="http://dthink.ashaelizabethgupta.com/post/17411846077/design-thinking-101">design thinking</a>,
                        yoga and collaborative consumption.
                    </p>
                    <p>I am passionate about 
                    <a href="http://dthink.ashaelizabethgupta.com/tagged/education">redesigning education</a>,
                    and enjoy working on problems that better us.</p>
                    <p>I have extensive experience in
                    <a href="http://ashaelizabethgupta.com/projects#product">business strategy</a>, working for
                    Fortune 500s and startups. <br> I also <a href="http://ashaelizabethgupta.com/projects#programming">program</a> and love 
                    writing about <a href="http://dthink.ashaelizabethgupta.com/">cultural trends</a>.</p>
                    <p>Regarding the formal stuff, I completed a Master's degree in
                        <a href="http://www.stanford.edu/dept/MSandE/cgi-bin/index.php">MS&E</a> at Stanford and 
                        I studied Neuroscience and Math in undergrad at the University of Toronto.</p>
                    <p>I currently live in 
                        <a href="http://ashaelizabethgupta.com/pictures">New York City</a>, the best playground in the world.</p>
                    <p>Say hi:
                        <a href="mailto:ashaegupta@gmail.com">ashaegupta@gmail.com</a>
                    </p>
                </div>
                <div class="ribbon">
                    <a href="http://www.flickr.com/photos/asha-gupta/5082739655/in/photostream/lightbox/"
                    target="_blank">
                    <img class="ribbon_image" src="http://dl.dropbox.com/u/9927844/Jing/2012-02-18_1755.png"></a>
                </div>
        </div>
    </body>
</html>
