<html>
    <head>
        {% include "includes.html" %}
    </head>
    <body>
        <div class="all_content">

            {% include 'header_template.html' %}

            <div class="clear"></div>
            <div class="main_content">
                <div class="heading">
                  Hi and welcome.
                </div>
                <div class="main_homepage_text">
                    <div>
                        <p>I'm Asha.</p>
                        <p id="standout">I am a 
                        <a href="http://ashaelizabethgupta.com/portfolio#ux">user experience designer and researcher</a>, currently living in NYC.
                        </p>
                        <p>I write about <a href="https://details.srb.ag">UX</a>, 
                            <a href="http://dthink.ashaelizabethgupta.com/tagged/education">redesigning education</a> and 
                            <a href="http://dthink.ashaelizabethgupta.com/tagged/the%20future">anthropology</a>, but I'm happy to chat with you about pretty much anything under the sun. Things above the sun are cool too.
                            <a href="mailto:ashaegupta@gmail.com">Say hi!</a></p>
                    </div>
                </div>
                <div class="ribbon">
                    <a href="http://www.flickr.com/photos/asha-gupta/5082739655/in/photostream/lightbox/"
                    target="_blank">
                    <img class="ribbon_image" src="http://dl.dropbox.com/u/9927844/Jing/2012-06-05_1338.png"></a>
                    <p>IMHO, one of the most striking examples of form following function.</br>
                        Gingkos have known what's up for over 270 million years.</p>
                </div>
            </div>
        </div>
    </body>
</html>