<html>
    <head>
        <link rel=stylesheet href="css/style.css" type="text/css"></link>
        <script type-"text/javascript" src="js/microajax.minified.js"></script>
        <script type-"text/javascript" src="js/ashaelizabethgupta.js"></script>
    </head>
    <body>
        <div class="all_content">
            {% include 'header_template.html' %}
            <div class="clear"></div>

            <div class="main_content">
                <div class="heading">
                    pictures
                </div>
                <div id="picture_container">
                    <a id="image_link" target="_blank">
                        <img id="image" class="picture_img"></img>
                    </a>
                    <div id="caption" class="picture_caption"></div>
                </div>
            </div>
        </div>
    </body>
</html>
