<html>
    <head>
        {% include "includes.html" %}
        <script type="text/javascript">
            window.asha_ux_images = {{ ux_images }};
        </script>
    </head>
    <body>
        <div class="all_content">
            <div class="clear"></div>
            <div class="main_content">

                {% include 'header_template.html' %}

                <div class="clear"></div>
                <div class="heading">
                    portfolio
                </div>
                <div id="project_categories_header">
                    <div class="project_category" id="product_category">
                        <div style="display:inline-block">
                            <div class="project_category_purple_bar"
                                id="product_purple"></div>
                            <a href="#product">Strategy</a>
                        </div>
                    </div>
                    <div class="project_category" id="ux_category">
                        <div style="display:inline-block">
                            <div class="project_category_purple_bar"
                                id="ux_purple"></div>
                        <a href="#ux">User Experience</a>
                        </div>
                    </div>
                    <div class="project_category" id="programming_category">
                        <div style="display:inline-block">
                            <div class="project_category_purple_bar"
                                id="programming_purple"></div>
                        <a href="#programming">Programming</a>
                        </div>
                    </div>
                    <div class="project_category" id="data_category">
                        <div style="display:inline-block">
                            <div class="project_category_purple_bar"
                                id="data_purple"></div>
                        <a href="#data">Data Modeling</a>
                        </div>
                    </div>
                    <div class="project_category" id="personal_category">
                        <div style="display:inline-block">
                            <div class="project_category_purple_bar"
                                id="personal_purple"></div>
                        <a href="#personal">Personal</a>
                        </div>
                    </div>
                </div>
                <div class="project_list" id="product_list">
                    <div class="project_mantra">
                        {{product_mantra}}
                    </div>
                    {% for p in product %}
                        {% include 'project_item_template.html' %}
                    {% endfor %}
                </div>
                <div class="project_list" id="ux_list">
                    <div class="project_mantra">
                        {{ux_mantra}}
                    </div>
                    {% for u in ux %}
                        {% include 'ux_item_template.html' %}
                    {% endfor %}
                </div>
                <div class="project_list" id="programming_list">
                    <div class="project_mantra">
                        {{development_mantra}}
                    </div>
                    {% for p in development %}
                        {% include 'project_item_template.html' %}
                    {% endfor %}
                </div>
                <div class="project_list" id="data_list">
                    <div class="project_mantra">
                        {{data_mantra}}
                    </div>
                    {% for p in data %}
                        {% include 'project_item_template.html' %}
                    {% endfor %}
                </div>
                <div class="project_list" id="personal_list">
                    <div class="project_mantra">
                        {{personal_mantra}}
                    </div>
                    {% for p in personal %}
                        {% include 'project_item_template.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include "ux_modal_template.html" %}
    </body>
</html>

