<html>
    <head>
        <link rel=stylesheet href="css/style.css" type="text/css">
        <script type-"text/javascript" src="js/ashaelizabethgupta.js"></script>
    </head>
    <body>
        <div class="all_content">
            <div class="clear"></div>
            <div class="main_content">

                {% include 'header_template.html' %}

                <div class="clear">
                <div class="heading">
                    projects
                </div>
                <div id="project_categories_header">
                    <div class="project_category" id="product_category">
                        <div style="display:inline-block">
                            <div class="project_category_purple_bar"
                                id="product_purple"></div>
                            <a href="#product">Product</a>
                        </div>
                    </div>
                    <div class="project_category" id="development_category">
                        <div style="display:inline-block">
                            <div class="project_category_purple_bar"
                                id="development_purple"></div>
                        <a href="#development">Development</a>
                        </div>
                    </div>
                    <div class="project_category" id="data_category">
                        <div style="display:inline-block">
                            <div class="project_category_purple_bar"
                                id="data_purple"></div>
                        <a href="#data">Data Modeling</a>
                        </div>
                    </div>
                    <div class="project_category" id="personal_category">
                        <div style="display:inline-block">
                            <div class="project_category_purple_bar"
                                id="personal_purple"></div>
                        <a href="#personal">Personal</a>
                        </div>
                    </div>
                </div>
                <div class="project_list" id="product">
                    <div class="project_mantra">
                        {{product_mantra}}
                    </div>
                    {% for p in product %}
                        {% include 'project_item_template.html' %}
                    {% endfor %}
                </div>
                <div class="project_list" id="development">
                    <div class="project_mantra">
                        {{development_mantra}}
                    </div>
                    {% for p in development %}
                        {% include 'project_item_template.html' %}
                    {% endfor %}
                </div>
                <div class="project_list" id="data">
                    <div class="project_mantra">
                        {{data_mantra}}
                    </div>
                    {% for p in data %}
                        {% include 'project_item_template.html' %}
                    {% endfor %}
                </div>
                <div class="project_list" id="personal">
                    <div class="project_mantra">
                        {{personal_mantra}}
                    </div>
                    {% for p in personal %}
                        {% include 'project_item_template.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>

