<div class="ux">
    <div class="ux_image_div">
        <a href="#" onclick="asha.slideshow.start('{{u.label}}'); return false;">
            <img class="ux_image" longdesc="{{u.pic_url}}"/>
        </a>
    </div>
    <div class="ux_label">
        <div class="ux_title">
            <a href="#" onclick="asha.slideshow.start('{{u.label}}'); return false;">
                {{u.title}}
            </a>
        </div>
        <div class="ux_type">
            {{u.ux_type}}
        </div>
        <div class="ux_description">
            {{u.description}}
        </div>
    </div>
</div>

