<div id="ux_modal_template" style="display:none;">
    <div id_template="slideshow_esc">
        <a href="" onclick="asha.slideshow.stop(); return false;">
            [esc]
        </a>
    </div>
    <div class="clear"></div>
    <div id_template="slideshow_img_div">
        <a href="" onclick="asha.slideshow.showNextSlide(); return false;">
            <img id_template="slideshow_img"/>
        </a>
    </div>
    <div id_template="slideshow_bottom">
        <span id_template="slideshow_prev_slide">
            <a href="" onclick="asha.slideshow.showPreviousSlide(); return false;">
                &larr;
            </a>
        </span>
        <span id_template="slideshow_slide_counter">
        </span>
        <span id_template="slideshow_next_slide">
            <a href="" onclick="asha.slideshow.showNextSlide(); return false;">
                &rarr;
            </a>
        </span>
    </div>
</div>
